.container {
    background-color: #fefae0;
    min-height: 100vh;
}

.link {
    color: #FDf4f4;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wormimage {
    margin-top: 10%
}

.heading {
    text-align: center;
}

.title {
    margin-bottom: 0;
}

.subheading {
    margin-top: 0;
}

/* Buttons */
.button {
    margin: 10px;
    background-color: #42ae9a;
    color: #FDf4f4;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  }
  
  .buttongrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .button:hover{
    background-color: #2d7b6c;
    color: #FDf4f4;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    transform: translateY(-7px);
  }