/* Book */
.book {
    background-color: #7ed6c6;
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    filter: drop-shadow(0 0 0 rgb(109, 109, 109));
}
.title {
    margin: 0;
}
.author {
    margin: 0;
    font-size: 20px;
}
.genre {
    margin: 0;
    font-size: 17px;
    font-style: italic;
}