/* Book */
.book {
    background-color: #5ce0c8;
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
}
.title {
    margin: 0;
}
.author {
    margin: 0;
    font-size: 20px;
}
.genre {
    margin: 0;
    font-size: 17px;
    font-style: italic;
}