/* Book */
.book {
    border-color: #42ae9a;
    background-color: rgb(252, 255, 255);
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    margin: 20px;
}
.title {
    margin: 0;
}
.author {
    margin: 0;
    font-size: 20px;
}
.genre {
    margin: 0;
    font-size: 17px;
    font-style: italic;
}
.bookbtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}